@import url(https://fonts.googleapis.com/css?family=Jim+Nightshade);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

div:empty {
  display:none;
}

.turn_field, .info_field, .warning_field, .chat__sidebar #users, .chat__sidebar .chat__main, .chat__sidebar .chat__main #messages .message {
  border-radius: 5px;
  margin-bottom: 1px;
  padding: 5px;
}

body {
  user-select: none;
  background-color: #241106;
}

button {
  border-radius: 5px;
  width: 100%;
  height: 30px;
  color: white;
}

h3 {
  font-family: "Jim Nightshade", arial, sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #5a2d13;
}

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 210px 550px 210px 210px auto;
  grid-template-rows: auto 550px auto;
  grid-template-areas: "top top top top top top"
 ". card canvas info chat ."
 "footer footer footer footer footer footer";
}

/*
.game {
  width: 1160px;
  height: 910px; 
  margin: 0;
}


.topbanner {
  background-color: white;
  width: 1160px;
  height: 50px;
}
*/

.top {
  grid-area: top;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.top h1 {
  font-family: "Jim Nightshade", arial, sans-serif;
  font-weight: normal;
  font-size: 46px;
  color: white;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
}

.cardcanvas {
  grid-area: card;
  background-color: #704932;
  margin-left: 5px;
  margin-right: 5px;
}

.boardcanvas {
  grid-area: canvas;
  background-color: #469eaa;
}

.infoarea {
  grid-area: info;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
}

#status {
  background-color: #f2f7f3;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1px;

}

#info {
  background-color: #f2f7f3;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 1px;
}

.die {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#die_field {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

#die_field img {
  border-radius: 12px;
  width: 50px;
}

#warning {
  background-color: #d3878b;
  border-radius: 5px;
  padding: 5px;
}

.buttons_die_score_field {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.buttons_die_score_field .buttons_field {
  margin-bottom: 10px;
}

.buttons_die_score_field .buttons_field #action-button {
  background-color: #5a2d13;
  border: 3px solid #30944e;
}

.buttons_die_score_field .buttons_field #cancel-button {
  background-color: #5a2d13;
  border: 3px solid #c2474d;
}

.buttons_die_score_field #score {
  background-color: #ecb65e;
  border-radius: 5px;
  padding: 5px;
}



.chat__sidebar {
  grid-area: chat;
  background-color: #241106;
  position: relative;
  float: right;
  margin-block-end: 0;
  margin-block-start: 0;
  overflow-y: scroll;
}


.chat__sidebar li {
  list-style-type: none;
}

.chat__sidebar #users {
  background-color: #b6b5b5;
}

.chat__sidebar .chat__main {
  background-color: #473011;
  height: 100%;
}

.chat__sidebar .chat__main #chat_input {
  height: 25px;
  width: 100%;
  margin-bottom: 5px;
}

#chat_button {
  background-color: #5a2d13;
  border: 3px solid white;
  width: 100%;
  margin-bottom: 10px;
}

.chat__sidebar .chat__main #send-turn {
  background-color: #5a2d13;
  border: 3px solid #30944e;
  width: 100%;
  margin-bottom: 10px;
}

.chat__sidebar .chat__main #messages .message {
  background-color: white;
  margin-bottom: 1px;
}

h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

#users {
   background-color: rgb(123, 146, 122);
}

#userinfo {
   background-color: rgb(151, 159, 173);
}
